body {
  background-color: rgb(0, 0, 15);
  color: rgb(255, 255, 255);
  cursor: default;
}


h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: max(5vw, 2.6rem);
  text-align: center;
  margin-top: max(8vh, 1rem);
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 6rem;
}

.rows {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
}

.tiles {
  background-color: red;
  height: 80px;
  width: 80px;
  border-color: white;
}