body {
  background-color: rgb(0, 0, 15);
  color: rgb(255, 255, 255);
  cursor: default;
}


h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: max(4.375vw, 3rem);
  text-align: center;
  margin-top: max(8vh, 5rem);
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .5rem;
  margin-top: max(8vh, 1rem);
}

svg {
  background-color: aqua;
  height: max(35vw, 24rem);
  width: max(35vw, 24rem);
  position: absolute;
  left: 50%;
  translate: -50%;
  z-index: 0;
}

button {
  cursor: pointer;
}

.rows {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
  justify-self: center;
  z-index: 1;
}

.tiles {
  background-color: red;
  height: max(8.75vw, 6rem);
  width: max(8.75vw, 6rem);
  border: none;
}