body {
  background-color: rgb(0, 0, 15);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  cursor: default;
}


h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: max(3vw, 3rem);
  text-align: center;
  margin-top: max(5vw, 5rem);
}

main {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  margin-top: max(8vw, 8rem);
}

.table-column {
  background-color: rgb(255, 255, 255);
  height:  max(4.5vw, 4.5rem);
  width: max(1.2vw, 1.2rem);
}

.table-row {
  background-color: rgb(255, 255, 255);
  height: max(1.2vw, 1.2rem);
  width: max(18vw, 18rem);
  border-radius: 10px;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.rows {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-self: center;
  z-index: 1;
}

.tiles {
  background-color: red;
  color: white;
  height: max(4.5vw, 4.5rem);
  width: max(4.5vw, 4.5rem);
  font-size: max(4vw, 4rem);
  border: none;
  transition: background-color .3s;
}