body {
  background-color: rgb(0, 0, 15);
  color: rgb(255, 255, 255);
  cursor: default;
}


h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: max(3vw, 3rem);
  text-align: center;
  margin-top: max(5vw, 5rem);
}

main {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  margin-top: max(8vw, 8rem);
}

.table-column-top {
  background-color: rgb(255, 255, 255);
  height:  max(5.5vw, 5.5rem);
  width: max(.8vw, .8rem);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-column-middle {
  background-color: rgb(255, 255, 255);
  height:  max(5.5vw, 5.5rem);
  width: max(.8vw, .8rem);
}

.table-column-bottom {
  background-color: rgb(255, 255, 255);
  height:  max(5.5vw, 5.5rem);
  width: max(.8vw, .8rem);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table-row {
  background-color: rgb(255, 255, 255);
  height: max(.7vw, .7rem);
  width: max(17vw, 17rem);
  border-radius: 10px;
}

button {
  justify-items: center;
  cursor: pointer;
}

button p {
  height: fit-content;
  width: fit-content;
  font-size: max(4.5vw, 4.5rem);
  font-family: quicksand;
  font-weight: 1000;
  margin: 0;
}

.rows {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-self: center;
}

.tiles {
  background-color: rgb(0, 0, 15);
  color: rgb(255, 255, 255);
  height: max(4.8vw, 4.8rem);
  width: max(4.8vw, 4.8rem);
  font-size: max(4vw, 4rem);
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.disabled {
  pointer-events: none;
}