body {
  background-color: rgb(0, 0, 15);
  color: rgb(255, 255, 255);
}

h1 {
  height: auto;
  width: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: max(7vw, 3.5rem);
  justify-self: center;
  margin-top: max(10vh, 2rem);
}

h2 {
  height: auto;
  width: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: max(2.5vw, 1.5rem);
  justify-self: center;
}

img {
  height: max(21vw, 13rem);
  cursor: pointer;
}

img:hover {
  height: max(25vw, 15rem);
}

#jogos {
  background-color: rgb(0, 0, 15);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 3rem;
  justify-items: center;
}