body {
  background-color: rgb(0, 0, 15);
  color: rgb(255, 255, 255);
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: max(6vw, 3.5rem);
  text-align: center;
  margin-top: max(8vh, 1rem);
}

h2 {
  height: auto;
  width: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: max(2vw, 1.5rem);
  text-align: center;
}

img {
  height: max(18vw, 13rem);
  cursor: pointer;
}

img:hover {
  height: max(20vw, 15rem);
}

#jogos {
  background-color: rgb(0, 0, 15);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  gap: 3rem;
  justify-items: center;
  margin: 0 3rem 5rem 3rem;
}